* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --c1: #100E10;
    --c2: #321110;
    --c3: #955643;
    --c4: #F7F4EB;
    --t1: rgba(0, 0, 0, 0.7);
    --t2: rgba(255, 255, 255, 0.7);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--c4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header,
footer {
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--c1);
    color: var(--c4);
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

main {
    width: 100%;
    height: 86vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    gap: 5px;
    overflow-y: auto;
}

nav {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    background-color: var(--c3);
    color: var(--c4);
    font-size: 1.2em;
    border: none;
    padding: 10px 20px;
    border-radius: 0 0 0 25px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: var(--c2);
    box-shadow: 0 0 10px var(--t2);
}

.card {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px var(--t1);
    border-radius: 0 0 0 25px;
    margin: 10px;

    & img {
        width: 100%;
        height: 100%;
        max-width: 250px;
        object-fit: cover;
    }
}

.modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.janela {
    width: 50%;
    height: fit-content;
    max-height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--c4);
    color: var(--c1);
    box-shadow: 0 0 10px var(--t1);
    border-radius: 0 0 0 25px;
    gap: 10px;

    & div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--c1);
        color: var(--c4);
        padding: 5px 0;
        box-shadow: 0 0 10px var(--t1);
    }

    & form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        & input,
        textarea {
            width: 97%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            box-shadow: 0 0 10px var(--t1);
        }

        & button{
            width: 100%;
        }
    }
}

.oculto{
    display: none;
}

@media screen and (max-width: 768px) {

    header,
    footer {
        flex-direction: column;
        gap: 10px;
    }

    nav {
        flex-direction: column;
        display: none;
    }

    .janela {
        width: 95%;
        & form{
            width: 90%;
        }
    }
}